*{
  margin: 0;padding:0;
  transition: 300ms ease-in;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.canvas-parent{
  background:#15141B;
}

.canvas-title{
  color:#61FFCA;
  text-align: center;
  font-size: 4vw;
  font-weight: 900;
}

.navegator-menu{
  width: 100%;
  height:50px;
  position: sticky;
  top: 0;
  left: 0;
  backdrop-filter: blur(20px);
  z-index: 1000;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.navegator-menu a{
   text-decoration: none;
   color:#dddddd;
}

.navegator-menu a:hover,.navegator-menu a:active{
  color:#61FFCA;
}
